:root {
  scroll-behavior: smooth;
	--primary-theme-color: #0f0f0f;
  --reverse-primary-theme-color:#fff;
	--secondary-theme-color: #282c34;
	--primary-text-color: #fff;
	--secondary-text-color: #eee;
	--reverse-primary-text-color: #000;
	--primary-shadow-color: #00000080;
	--secondary-shadow-color: #000000ee;
	--reverse-primary-shadow-color: #fff8;
	--primary-highlight-color: #61dafb;
	--secondary-highlight-color: gold;
	--primary-button-color: #f75656;
	--secondary-button-color: gold;
	--primary-invalid-color: crimson;
	--primary-font-family: 'inconsolata', monospace;
	--padding-section: 1.5rem 0;
	--padding-container: 0 1rem;
  --padding-card: 0.4rem;
	--max-width-container: 640px;
	--primary-border-radius: 0.5rem;
}

.body {
  background-color: rgb(255, 255, 255);
  color: var(--primary-text-color);
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width: 768px) {
  :root{
    --max-width-container: 1500px;
    --padding-section: 1rem 0;
    --padding-card: 1rem;
    /* --primary-shadow-color: #00000000; */
  }
}

.experience {
  /* background-color: #282c34; */
  background-color: transparent;
}

.experiencetitle {
  margin: 0;
}


.skills {
  display: flex;
  position: relative;
  width: 100%;
  flex: 1;
  align-items: center;
  /* justify-content: space-around; */
  gap: 4rem;
  overflow-x:auto;
}
.skills__title{
  color: black;
  margin: 0;
}
.skills-bg{
  position: fixed;
  z-index: -5;
  top: 0;
  background-image: url('../assets/img/body-background.webp');
  width: 100%;
  height: 100%;
}
.skills__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 2rem;
}
.skill-tech {
  display: flex;
  flex-direction: column;
  align-self:center;
  position: relative; 
  transition: all 0.25s;
}

.skill-tech:hover> .item--description{
  transform: translate(0 ,50%);
}
.skill-tech:hover> .item--img{
  transform: translate(0 ,-50%) ;
}
/* .item{
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
}
.item--img{
  background-color: #282c34;
  z-index: 5;
}
.item--description{
  position: absolute;
  color: black;
  background-color: #dadada;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
}
.skill-tech__img{
  filter: grayscale(1) opacity(10%);
  transition: -webkit-filter 0.7s ease-in;
}
.skill-tech:hover .skill-tech__img{
  filter: grayscale(0) opacity(100%);
}
.title{
  position: absolute;
  font-family:'Rubik Dirt';
  margin: 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 100;
  text-shadow: 0 0 0.5rem #61dafb;
  transition: all 0.5s ease-in-out;
}

.skill-tech:hover .title{
  transform: translate(0 ,-150%) scale(0.8) ;
}

.skill-tech:hover .title--html{
  color: #E44D26;
  text-shadow: 0 0 0.5rem #0a0a0a;
}

.skill-tech:hover .title--css{
  color: #264DE4;
  text-shadow: 0 0 0.5rem #0a0a0a;
}
.skill-tech:hover .title--js{
  color: #F1DC50;
  text-shadow: 0 0 0.5rem #0a0a0a;
}
.skill-tech:hover .title--react{
  color: #00D8FF;
  text-shadow: 0 0 0.5rem #0a0a0a;
} */