.card {
  display: flex;
  flex-direction: column;
}

.card--hero {
  align-items: center;
  gap: 1.5rem;
  max-width: 448px;
  text-align: center;
}



.card__header {
  background-color: rgb(255, 255, 255);
}






.card__img {
  width: 80px;
  height: 80px;
}



@media (min-width:768px) {
  .card__img {
    width: 100px;
    height: 100px;
  }

}

.card__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}



@media (min-width: 768px) {
  .card__title {
    font-size: 2rem;
  }
}

.card__body {
  position: absolute;
  padding: var(--padding-card);
  box-sizing: border-box;
}

.card__subtitle {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 300;
}

.card__text {
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  color: rgb(6, 6, 6);
}

@media (min-width: 768px) {

  .card__subtitle {
    font-size: 1.5rem;
  }

  .card__text {
    font-size: 1.125rem;
  }
}