.card {
  display: flex;
  flex-direction: column;
}

.card--hero {
  align-items: center;
  gap: 1.5rem;
  max-width: 448px;
  text-align: center;
}
.card__header--skill,
.card__body--skill {
  width: 300px;
  height: 200px;
}

.card__header {
  background-color: var(--secondary-theme-color);
}
.card__header--skill {
  z-index: 25;
}

.card:hover .card__header--skill {
  transform: translateY(-50%);
}

.card:hover .card__body--skill {
  transform: translateY(50%);
}

.card__img {
}

.card__title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.card__body {
  position: absolute;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.card__body--skill {
  background-color: var(--reverse-primary-theme-color);
  color: var(--reverse-primary-text-color);
}

.card__subtitle {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 300;
}

.card__text {
}

@media (min-width: 768px) {
  .card__title {
    font-size: 3rem;
  }

  .card__subtitle {
    font-size: 1.5rem;
  }
}
