.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	z-index: 50;
}

.nav {
  padding:0.625rem 0;
}

.nav__link-logo{
	display: block;
	height: 65px;
	width:84px;
}
