.header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: var(--primary-shadow-color);
}
.header::after{
  content: '';
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 0.0625rem 0.0625rem var(--reverse-primary-shadow-color);
}
.header-despleged {
  /* background-color: var(--primary-theme-color); */
  background-color: #000;
}
.header-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-shadow-color);
  background-image: none;
  transition: background-color 0.2s ease-out 0.4s;
}
.menu__checkbox:checked + .header-style {
  background-color: var(--primary-theme-color);
  background-image: linear-gradient(
    var(--primary-theme-color),
    var(--primary-theme-color)
  );
}
.nav {
  padding: 0.625rem 0;
}
.nav__link-logo-container {
  position: relative;
}

.nav__link-logo {
  display: block;
  height: 45px;
  width: 59px;
}

@media (min-width: 768px) {
  .nav__link-logo {
    height: 55px;
    width: 71px;
  }
}

.footer{
  border-top: 0.125rem solid var(--reverse-primary-shadow-color);
  background-color: var(--secondary-theme-color);
}
.footer__link {
  color: var(--primary-highlight-color);
  text-decoration: none;
}
