.hero {

  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("../../assets/img/hero-img.webp");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: hero-img 15s infinite;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--tertiary-shadow-color);
}