.skills::-webkit-scrollbar {
  height: 2rem;
  transition: all 0.5s;
}

.skills::-webkit-scrollbar-button:horizontal:start:decrement {
  padding: 0 20px;
  /* border-left: 40px solid transparent;
  border-right: 40px solid transparent; */
  background-clip:content-box;
  background-color: transparent;
  background-image: url(../../assets/svg/flecha-left-ini.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  transition: all 0.5s;
  border-radius: 10px;
}

.skills::-webkit-scrollbar-button:horizontal:end:increment {
  padding: 0 20px;
  /* border-left: 40px solid transparent;
  border-right: 40px solid transparent; */
  background-clip:content-box;
  background-color: transparent;
  background-image: url(../../assets/svg/flecha-rigth-ini.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 50%;
  transition: all 1s;
}
.skills::-webkit-scrollbar-button:horizontal:start:hover{
  background-image: url(../../assets/svg/flecha-left-hov.svg);
}
.skills::-webkit-scrollbar-button:horizontal:end:hover{
  /* background-color: rgba(245, 255, 255, 0.244); */
  background-image: url(../../assets/svg/flecha-rigth-hov.svg);
}


@media (pointer:coarse) {
  .skills::-webkit-scrollbar {
    height: 0;
  }
}