.section {
  padding: var(--padding-section);
  overflow: hidden;
}
.section--headed {
  box-shadow: 0 0 0.0625rem 0.0625rem var(--reverse-primary-shadow-color);
}

.section--skill{
  background-color: var(--primary-theme-color);
  height: 600px;
  box-sizing: border-box;
  padding-bottom: 2rem;
  
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--padding-container);
	/* z-index: -50; */
}
.container--headed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container--hero{
  display: flex;
  align-items: center;
  z-index: 5;
}

.container--skill{
  position: relative;
  max-width: fit-content;
  justify-content: space-between;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 2rem;
  overflow-x:auto;
}




@media (min-width: 768px) {
  .container--headed {
    /* justify-content: initial; */
    gap: 1.5rem;
  }
}
