.section--headed {
	box-shadow: 0 0 0.625rem;
}

.container{
	max-width: var(--max-width-container);
	margin: 0 auto;
	padding: var(--padding-container);
}
.container--headed{
  display: flex;
  align-items: center;
  gap: 1rem;
}